:root {
  --main-color: #3E2354;
  --heading-color: #D45F8A;
  --input-color: #839577;
  --input-text-color: #542339;
  --input-highlight-color: #9DB88D;
  --background-color: #867596;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 350px;
    background-color: var(--background-color);
}

main {
    width: min(calc(100% - 2rem), 1250px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    overflow: none;
}

h1 {
    color: white;
    width: min(100% , calc(1250px + 2rem));
    margin: auto;
}

h2 {
    color: var(--heading-color);
    padding-top: 1rem;
}

.function-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: stretch;
}

#plaintext-label {
    grid-column: 1;
    grid-row: 1;
}

#plaintext {
    grid-column: 1;
    grid-row: 2;
}

#ciphertext-label {
    grid-column: 3;
    grid-row: 1;
}

#ciphertext {
    grid-column: 3;
    grid-row: 2;
}

textarea {
    background-color: var(--input-color);
    color: var(--input-text-color);
    transition: border 0.8s ease, background-color 0.8s ease;
    box-sizing: border-box;
    border: 2px solid  var(--input-color);
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
    height: 150px;
    max-height: 640px;
    min-width: 300px;
    width: 100%;
    margin-top:0.3rem
}

.highlight {
    background-color: var(--input-highlight-color);
    border: 2px solid var(--input-highlight-color);
}

input {
    background-color: var(--input-color);
    color: var(--input-text-color);
    border-radius: 4px;
}

.plaintext-container, .ciphertext-container {
    width: 100%;
}

.plaintext-container label, .ciphertext-container label {
    font-size: 20pt;
}

label {
    display:block;
    color: var(--heading-color);
}

button {
    background-color: var(--heading-color);
    border-radius: 4px;
}

#operations {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

#operations > button {
    white-space: nowrap;
}

#password-container {
    grid-column: 1 / 4;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.short-text {
    display: none;
}

footer {
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@media screen and (max-width: 750px) {
    label {
        text-align: center;
    }

    .function-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto auto 1fr;
    }

    #plaintext-label {
        grid-column: 1;
        grid-row: 1;
    }

    #plaintext {
        grid-column: 1;
        grid-row: 2;
    }

    #operations {
        grid-column: 1;
        grid-row: 3;
        flex-direction: row;
    }

    #password-container {
        grid-column: 1;
        grid-row: 4;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    #ciphertext-label {
        grid-column: 1;
        grid-row: 5;
    }

    #ciphertext {
        grid-column: 1;
        grid-row: 6;
    }

    .long-text {
        display: none;
    }

    .short-text {
        display: inline;
    }
}